mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.loginTitle {
    font-size: 20px;
    background: aliceblue;
    padding: 10px;
}

// .signin-content {
//     padding: 160px 1rem;
// }

.full-width-input {
    width: 100%;
    font-size: 12px !important;
}

spacer {
    flex: 1 1 auto;
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }