:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color(black, 50);
  }
  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      background-color: mat-color(black, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}
